body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    margin-bottom: 20px;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"],
  textarea,
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  button {
    padding: 10px 15px;
    gap:10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  ul li:nth-child(odd) {
    background-color: #f1f1f1;
  }
  
  .task-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .task-priority {
    font-size: 14px;
    color: #777;
  }
  
  .task-due-date {
    font-size: 14px;
    color: #777;
  }
  
  .project-select {
    margin-bottom: 15px;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
  }
  
  .success-message {
    color: green;
    font-weight: bold;
  }

  
  .button-group {
    display: inline-flex;
    gap: 20px; 
  }
  
  .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .btn-delete {
    background-color: #dc3545;
  }
  
  .btn-delete:hover {
    background-color: #c82333;
  }
  
  .btn-edit {
    background-color: #28a745;
  }
  
  .btn-edit:hover {
    background-color: #218838;
  }
  
  .btn-view {
    background-color: #17a2b8;
  }
  
  .btn-view:hover {
    background-color: #138496;
  }
  